.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.task-title {
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.task-title:hover {
    color: #ff6f61;
}

.task-details {
    display: none;
    padding: 5px;
    margin-top: 5px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.task-details.show-details {
    display: block;
}

.task button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task button.selected {
    background-color: #218838;
}

.day-completed {
    background-color: #d4edda !important;
}
